*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.deep{
    color:#055E54;
    color:#E5DDD5;
    color:#FFFFFF;
    color:#666666;
    color:#FFFFFF;
    color:#F5F5F5;
    color:#DDF8C6;
    color:#def1e0;
    color:#055E54;
    color:#F0F2F5;
    color:#128C7E;
}